html {
    box-sizing: border-box;
    font-family: var(--main-font);
    font-size: var(--font-size);
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

hr {
    margin: 0;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    margin: 0;
    overflow-x: hidden;
}

header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.poke-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#resultados {
    list-style: none;
}

.hide {
    visibility: hidden;
}

.card {
    display: flex;
    margin: 0 .78125% 50px;
}

.card-img-top {
    background-color: rgb(128, 128, 128, .3);
}

.poke-results__container {
    text-align: center;
}

.poke-results {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.section {
    padding: 2rem;
    padding-top: 3rem;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: var(--content-width);
    min-height: 100vh;
    text-align: center;
}

.titulo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.titulo img {
    width: 10%;
    height: 10%;
}